<div class="player" [class.disabled]="playerServices.track===null">
    <div class="player-info">
        <img 
        [src]="(playerServices.track)?playerServices.track.album.images[2].url:'assets/untitled.png'"/>
        <div class="song-description">
            <a [class.disabled]="playerServices.track===null"
            class="song-title track-title"
            routerLink="/track/{{playerServices.track?.id}}">{{(playerServices.track)?playerServices.track.name: 'untitled Song'}}</a>
            <div [class.disabled]="playerServices.track===null" class="song-artist">
                <span class="track-artists">
                    <a 
                    class="track-artist"
                    style="color: white;"
                    *ngFor="let artist of playerServices.track?.artists"
                    routerLink="/artist/{{artist.id}}">{{artist.name}}, </a>
                </span>
            </div>
        </div>
        <button (click)="addToFavorite()">
            <app-svg
            [class.disabled]="playerServices.track===null"
            [name]="(isFavorite && !playerServices.track===null)?'favorite-filled':'favorite'"
            [selected]="isFavorite"/>
        </button>
    </div>
    <div class="player-controls">
        <div class="player-controls-icons">
            <button (click)="toggleShuffle()">
                <app-svg [class.disabled]="playerServices.track===null"
                [name]="'shuffle'" [height]="20" [selected]="toShuffle"/>
            </button>
            <button>
                <app-svg [class.disabled]="playerServices.track===null" [name]="'skip-previous'"/>
            </button>
            <button (click)="togglePlayer()">
                <app-svg
                [class.disabled]="playerServices.track===null"
                [class.play-button]="playerServices.track!==null"
                [name]="(playerServices.isPlaying)?'pause':'play'"/>
            </button>
            <button>
                <app-svg
                [class.disabled]="playerServices.track===null"
                [name]="'skip-next'"/>
            </button>
            <button [ngSwitch]="true" (click)="toggleRepeat(repeat)">
                <app-svg *ngSwitchCase="repeat===repeatEnum.off" [class.disabled]="playerServices.track===null" [name]="'repeat'" [height]="20"/>
                <app-svg *ngSwitchCase="repeat===repeatEnum.on" [class.disabled]="playerServices.track===null" [name]="'repeat'" [selected]="true" [height]="20"/>
                <app-svg *ngSwitchCase="repeat===repeatEnum.one" [class.disabled]="playerServices.track===null" [name]="'repeat-one'" [selected]="true" [height]="20"/>
            </button>
        </div>
        <div class="player-controls-progress">
            <div [class.disabled]="playerServices.track===null" class="song-artist">
                1:23
            </div>
            <div [class.disabled]="playerServices.track===null" class="progress-bar">
                <div [class.disabled]="playerServices.track===null"></div>
            </div>
            <div [class.disabled]="playerServices.track===null" class="song-artist">
                3:52
            </div>
        </div>
    </div>
    <div class="player-actions">
    </div>
</div>
