<div class="root">
  <div class="grid">
    <app-nav-bar class="nav-bar"></app-nav-bar>
    <div class="main-view" style="grid-area: main-view;">
      <header>
        <div class="navigations">
          <button (click)="goback()">
            <app-svg [name]="'arrow-back'" />
          </button>
          <button (click)="goforward()">
            <app-svg [name]="'arrow-forward'"/>
          </button>
        </div>
        <div class="search">
          <input *ngIf="searchOpened" placeholder="what do you want to listen to?"/>
        </div>
        <button class="login" (click)="login()">Log in</button>
      </header>
      <div #ViewScroll class="view-container">
          <div class="view-body-scroll"
              [style.height.px]="ViewScroll.getBoundingClientRect().height">
            <router-outlet></router-outlet>
          </div>
      </div>
    </div>
    <app-player class="player"></app-player>
  </div>
</div>
