/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000011;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--background-tinted-base);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--background-tinted-highlight);
}
/* Handle on pressed */
::-webkit-scrollbar-thumb:active {
    background: var(--background-tinted-press);
}
  
button{
    background: none;
    border: none;
    cursor: pointer;
}
app-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--text-subdued);
}

app-svg[disabled]{
    color: var(--text-base-disabled);
}

app-svg:hover:enabled{
    fill: var(--text-base);
}

.mat-primary .mdc-slider__thumb {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14),
    0 3px 1px rgba(0, 0, 0, 0.12),
    0 1px 5px rgba(0, 0, 0, 0.2);
}

.main-view-child{
    display: flex;
    flex: 1;
    flex-direction: column;
}
:root{
    --background-base: #121212;
    --background-highlight: #1a1a1a;
    --background-press: #000;
    --background-elevated-base: #242424;
    --background-elevated-highlight: #2a2a2a;
    --background-elevated-press: #000;
    --background-tinted-base: hsla(0, 0%, 0%, 0.425);
    --background-tinted-highlight: hsla(0, 0%, 0%, 0.628);
    --background-tinted-press: hsla(0, 0%, 0%, 0.326);
    --table-tinted-background: hsla(0, 0%, 16%, 0.118);
    --background-unsafe-for-small-text-base: #121212;
    --background-unsafe-for-small-text-highlight: #121212;
    --background-unsafe-for-small-text-press: #121212;
    --text-base: #fff;
    --text-base-disabled: #ffffff1c;
    --text-active: #000;
    --text-subdued: #a7a7a7;
    --text-bright-accent: #1ed760;
    --text-negative: #f15e6c;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #3d91f4;
    --essential-base: #fff;
    --essential-subdued: #727272;
    --essential-bright-accent: #1ed760;
    --essential-negative: #e91429;
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-positive-disabled: rgb(18, 117, 53);
    --essential-announcement: #0d72ea;
    --decorative-base: #fff;
    --decorative-subdued: #292929;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
